*{
   max-width: 100%;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* overflow: overlay; */

}
/* the following line hides the scroll bar   */
/* ::-webkit-scrollbar {
   width: 1px;
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: white;
   border-radius: 2px;
} */
@media only screen and (min-width:1px){
    .Mainbar-divx{
        height: 40vh; 
        background-image: url('../images/header.jpg');
        background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       /* The line  below is an alterantive to darken the background image in css  */
       background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../images/header.jpg');
       /* filter: brightness(50%); */
     }

     .mainprop-title,.serve-head,.Experience-head,.blogservices-head,.blogcloud-head {
        text-shadow: 0.75px 0px, 0.75px 0px, 0px 0px;
     }
     .serve-icons {
    font-size: 8.5em;
    margin-top: -0.35em;
     }
     .form-input{
      border: 1px solid #ced4da;
      padding: 0.75rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      width: 100%;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      margin-bottom: 1em;
     }
     .form-input:focus{
      color: #495057;
      background-color: #fff;
      border-color: #fee9d1;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(253 172 83 / 25%);
  }
  .page-num{
   color: #FDAC53;
   background-color: #fff;
   border: 1px solid #dee2e6;
   padding: 0.6em 1.2em;
   font-size: 1.2em;
  }
  .serch-div{
   border: 1px solid rgb(206, 212, 218);
   font-size: 1.2em;     
    /* font-weight: 400; */
  }
  .category-div,.post-div,.image0div,.plain-text-div,.blog-form{
   border: 1px solid rgb(206, 212, 218);
  }
  .cloud-div {
   border: 1px solid #FDAC53;
   cursor: pointer;
  }
  .Blog-Clouud{
   display: grid;

  }
  .cloud-div:hover{
   background: #FDAC53;;
   color: black;
  }
  /* .blog-image {
   border: solid 1px black;
  } */
  .post-link:hover{
   text-decoration: underline;
  }
.blogcont2-img{
   float: left;
   width: 50%;
   margin-right: 1em;
}
.blogcont2-img2{
   float: right;
   width: 50%;
   margin-left: 1em;
}

    }

     @media only screen and (min-width:768px){
        .Mainbar-divx{
            height: 30vh; 
         }
         .serve-courses,.package-top {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 1em;
         }
         .serve-icons {
            font-size: 12em;
            margin-top: -0.395em;
             }

     }

     @media only screen and (min-width:1024px){
        .Mainbar-divx{
            height: 60vh; 
         }
         .serve-icons {
            font-size: 7em;
            margin-top: -0.25em;
             }

        }
        @media only screen and (min-width:1524px){
         .BlogCont{
            margin: 0em 10em;
         }

 
         }
