@media only screen and (min-width:1px){
    .Mainbar-divx{
        height: 40vh; 
        background-image: url('../images/header.jpg');
        background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       /* The line  below is an alterantive to darken the background image in css  */
       background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../images/header.jpg');
       /* filter: brightness(50%); */
     }
     .mainprop-title,.serve-head{
        text-shadow: 0.75px 0px, 0.75px 0px, 0px 0px;
     }
     .serve-icons {
    font-size: 8.5em;
    margin-top: -0.35em;
     }
    }

     @media only screen and (min-width:768px){
        .Mainbar-divx{
            height: 30vh; 
         }
         .serve-courses {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 1em;
         }
         .serve-icons {
            font-size: 12em;
            margin-top: -0.395em;
             }

     }

     @media only screen and (min-width:1024px){
        .Mainbar-divx{
            height: 60vh; 
         }
         .serve-icons {
            font-size: 7em;
            margin-top: -0.25em;
             }

        }
