@media only screen and (min-width:1px){
 .mainbar-div{
     height: 40vh; 
     background-image: url('../images/carousel-1.jpg');
     background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
    animation: image 20s infinite ;
  }
  
  @keyframes image {

    0% { background-image: url('../images/carousel-1.jpg');}
    33% {background-image: url('../images/carousel-2.jpg');}
    66% {background-image: url('../images/carousel-3.jpg');}
    100% {background-image: url('../images/carousel-1.jpg');}
  }

.image-div{
  border: solid 1px black;  
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.InfoProp,.ExperienceProp,.Teamprop,.PriceProp,.Blogprop {
  border:  1px solid #dee2e6;
}
.services{
  font-family: "Raleway", sans-serif;
}
/* subjected to changes  */
.speech-bubble {
	position: relative;
	border-radius: .4em;
  padding: 1.5em 2em;
  margin-bottom: 1em;
  /* font-family: "Raleway", sans-serif; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4A4A4A;
    text-align: left;
    background-color: #fff;
    border: 1px solid #dee2e6 !important;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #edf0f4;
	border-bottom: 0;
  margin-left: -15px;
	margin-bottom: -11px;
}
.TestimonialHover{
  opacity: 0;
  background: rgba(253, 172, 83, 0.7);
  border: 15px solid #ffffff;
  transition: .5s;
}
.TestimonialHover:hover {
  opacity: 1;
}
.TestimonialHover-icon{
  border-radius: 50%;
  padding: 0.5em 0.75em;
  margin-top: 6em;
  margin-bottom: 6em;
  margin-right: 0.5em;
  border: solid 1px black;
}
.TestimonialHover-icon:hover{
  background: black;
  color: white;
}
.prov-content{
  color: #131313;
}
.light{
  background:rgba(253, 172, 83, 0.7) ;
}
.white{
  background: white;
}
.mainbar-dot{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin-bottom: 1em;
}
.main-title {
  text-shadow: 1.5px 0px, 1px 0px, 0px 0px;
 }
 .Provider{
  margin: 0em 1em 1.5em 1em;
  color: #4A4A4A;
  text-align: left;
 }
 .Services{
  margin: 0em 2em 1.5em 2em;
 }
 .services-icons{
  height: 8.5em;
  margin-top: -3em;
 }
}
@media only screen and (min-width:768px){
  .services-courses,.figures,.pricing-top,.blog-second {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em; 
  }
  .mainbar-div{
    border: solid 1px white;
  }
  .Provider{
    margin: 0em 2em 1.5em 2em;
   }

}


@media only screen and (min-width:1024px){
  .mainbar-div{
    background-position: center;
    height: 100vh; 
    background-position: center;
    /* background-size: contain*/
 }
 .main-name{
  font-weight: 200;
  /* text-shadow: 0.75px 0px, 0.75px 0px, 0px 0px; */
 }
 .main-title {
  text-shadow: 1.5px 0px, 1px 0px, 0px 0px;
 }
 .provide-div-right,.provide-div-left{
  flex: 50%;;
 }
.mainbar-dot{
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  margin-bottom: 1em;
  margin-right: 10em;
}
.provider-head,.services-head,.Experience-head,.content-head,.Team-head,.pricing-head    {
  text-shadow: 0.75px 0px, 0.75px 0px, 0px 0px;
}
.provide-div {
  border: dolid 1px black;
}
  /* darken the background image of a div  */
  .mainbar-div::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  } 
  .Provider{
    margin: 0em 5em 1.5em 5em;
    display: flex;
   }
   .Services{
    margin: 0em 5em 1.5em 5em;
    display: flex;
   }
   .services-icons{
    height: 7em;
    margin-top: -2em;
   }
}