@media only screen and (min-width:375px){
 .mainbar-div{
     height: 40vh; 
    background-position: center;
    background-size: cover;
    animation: image 5s infinite alternate;
  }
  
  @keyframes image {
    0% {
      background-image: url('../images/carousel-1.jpg');
    }
    50% {
        background-image: url('../images/carousel-2.jpg');
      }
    100% {
      background-image: url('../images/carousel-3.jpg');
    }
  }
.image-div{
  border: solid 1px black;  
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.InfoProp,.ExperienceProp,.Teamprop,.PriceProp,.Blogprop {
  border:  1px solid #dee2e6;
}
.services{
  font-family: "Raleway", sans-serif;
}
/* subjected to changes  */
.speech-bubble {
	position: relative;
	border-radius: .4em;
  padding: 1.5em 2em;
  margin-bottom: 1em;
  /* font-family: "Raleway", sans-serif; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4A4A4A;
    text-align: left;
    background-color: #fff;
    border: 1px solid #dee2e6 !important;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #edf0f4;
	border-bottom: 0;
  margin-left: -15px;
	margin-bottom: -11px;
}
.TestimonialHover{
  opacity: 0;
  background: rgba(253, 172, 83, 0.7);
  border: 15px solid #ffffff;
  transition: .5s;
}
.TestimonialHover:hover {
  opacity: 1;
}
.TestimonialHover-icon{
  border-radius: 50%;
  padding: 0.5em 0.75em;
  margin-top: 6em;
  margin-bottom: 6em;
  margin-right: 0.5em;
  border: solid 1px black;
}
.TestimonialHover-icon:hover{
  background: black;
  color: white;
}
.prov-content{
  color: #131313;
}
.services-courses,.figures,.pricing-top,.blog-second {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em; 
}

}