*{
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}
img{
    max-width: 100%;
    height: auto;
}
@media only screen and (min-width:375px){
    .color-logo {
        color: #FDAC53 ;
    }
    .btn0{
        color: #212529;
        background-color: #FDAC53;
        border-color: #FDAC53;
        font-weight: 600 !important;
        padding:0.5em 0.8em;
        cursor: pointer;
    }
    .footer-icon{
        border: solid 1px  #FDAC53 ;
        border-radius: 50%;
        padding: 0.5em 0.75em;
        margin-right: 0.5em;
    }
    

.navlink{
    padding: 1em 0em 0.75em 1em;
}
.hide{
    display: none;
}
.show{
    display: block;
 
}
.mobile-nav-left{
    text-shadow: 0.75px 0px, 0.75px 0px, 0px 0px;
}
}

@media only screen and (min-width:767px){
.footer-top{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em; 
  }
  .desktopnav-div{
    /* border: solid 1px white; */
    width: 90vw;
    margin-right: 15em;
  }
  .navlink{
    padding: 1em 0em 0.75em 1.2em;
    margin-top: 0.5em;
    cursor: pointer;
}
.navlink:active{
    color: red;
}

.desktop-nav-left {
    text-shadow: 3px 0px, 3px 0px, 0px 0px;
}
.btn0{
    padding:0.5em 1.5em;
}
}
/* @media only screen and (min-width:1024px){

} */